.vs/JPatchLauncher/v15/.suo
.vs/JPatchLauncher/v15/Browse.VC.db
.vs/JPatchLauncher/v15/Browse.VC.opendb
.vs/JPatchLauncher/v15/Solution.VC.db
.vs/JPatchLauncher/v15/Solution.VC.db-shm
.vs/JPatchLauncher/v15/Solution.VC.db-wal
.vs/JPatchLauncher/v15/ipch/86be6f259560de2a.ipch
.vs/JPatchLauncher/v15/ipch/9e4799cb0503c4ea.ipch
.vs/JPatchLauncher/v15/ipch/d86749eeca7281df.ipch
bin_test/gtest.pdb
bin_test/gtest_main.pdb
bin_test/JLoggerTest.exe
bin_test/JLoggerTest.pdb
bin_test/JPakConsole.exe
bin_test/JPakConsole.iobj
bin_test/JPakConsole.ipdb
bin_test/JPakConsole.pdb
bin_test/JPakLibTest.exe
bin_test/JPakLibTest.pdb
JLogger/x64/Release/JLogger.log
JLogger/x64/Release/JLogger.obj
JLogger/x64/Release/JLogger.pch
JLogger/x64/Release/JLogger.pdb
JLogger/x64/Release/stdafx.obj
JLogger/x64/Release/JLogger.tlog/CL.command.1.tlog
JLogger/x64/Release/JLogger.tlog/CL.read.1.tlog
JLogger/x64/Release/JLogger.tlog/CL.write.1.tlog
JLogger/x64/Release/JLogger.tlog/JLogger.lastbuildstate
JLogger/x64/Release/JLogger.tlog/Lib.command.1.tlog
JLogger/x64/Release/JLogger.tlog/Lib-link.read.1.tlog
JLogger/x64/Release/JLogger.tlog/Lib-link.write.1.tlog
JLoggerTest/x64/Release/JLoggerTest.log
JLoggerTest/x64/Release/JLoggerTest.pch
JLoggerTest/x64/Release/JLoggerTest.vcxproj.CopyComplete
JLoggerTest/x64/Release/pch.obj
JLoggerTest/x64/Release/test.obj
JLoggerTest/x64/Release/vc141.pdb
JLoggerTest/x64/Release/JLoggerTest.tlog/CL.command.1.tlog
JLoggerTest/x64/Release/JLoggerTest.tlog/CL.read.1.tlog
JLoggerTest/x64/Release/JLoggerTest.tlog/CL.write.1.tlog
JLoggerTest/x64/Release/JLoggerTest.tlog/JLoggerTest.lastbuildstate
JLoggerTest/x64/Release/JLoggerTest.tlog/JLoggerTest.write.1u.tlog
JLoggerTest/x64/Release/JLoggerTest.tlog/link.command.1.tlog
JLoggerTest/x64/Release/JLoggerTest.tlog/link.read.1.tlog
JLoggerTest/x64/Release/JLoggerTest.tlog/link.write.1.tlog
JPakConsole/x64/Release/JPakConsole.log
JPakConsole/x64/Release/JPakConsole.obj
JPakConsole/x64/Release/JPakConsole.pch
JPakConsole/x64/Release/JPakConsole.res
JPakConsole/x64/Release/pch.obj
JPakConsole/x64/Release/vc141.pdb
JPakConsole/x64/Release/JPakConsole.tlog/CL.command.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/CL.read.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/CL.write.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/JPakConsole.lastbuildstate
JPakConsole/x64/Release/JPakConsole.tlog/JPakConsole.write.1u.tlog
JPakConsole/x64/Release/JPakConsole.tlog/link.command.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/link.read.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/link.write.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/rc.command.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/rc.read.1.tlog
JPakConsole/x64/Release/JPakConsole.tlog/rc.write.1.tlog
JPakLib/x64/Release/FileSystem.obj
JPakLib/x64/Release/FileSystemUtil.obj
JPakLib/x64/Release/JPakLib.log
JPakLib/x64/Release/JPakLib.pch
JPakLib/x64/Release/JPakLib.pdb
JPakLib/x64/Release/stdafx.obj
JPakLib/x64/Release/JPakLib.tlog/CL.command.1.tlog
JPakLib/x64/Release/JPakLib.tlog/CL.read.1.tlog
JPakLib/x64/Release/JPakLib.tlog/CL.write.1.tlog
JPakLib/x64/Release/JPakLib.tlog/JPakLib.lastbuildstate
JPakLib/x64/Release/JPakLib.tlog/Lib.command.1.tlog
JPakLib/x64/Release/JPakLib.tlog/Lib-link.read.1.tlog
JPakLib/x64/Release/JPakLib.tlog/Lib-link.write.1.tlog
JPakLibTest/x64/Release/FileSystemUtilTest.obj
JPakLibTest/x64/Release/JPakLibTest.log
JPakLibTest/x64/Release/JPakLibTest.pch
JPakLibTest/x64/Release/JPakLibTest.vcxproj.CopyComplete
JPakLibTest/x64/Release/JPakLibTestUtil.obj
JPakLibTest/x64/Release/pch.obj
JPakLibTest/x64/Release/test.obj
JPakLibTest/x64/Release/vc141.pdb
JPakLibTest/x64/Release/JPakLibTest.tlog/CL.command.1.tlog
JPakLibTest/x64/Release/JPakLibTest.tlog/CL.read.1.tlog
JPakLibTest/x64/Release/JPakLibTest.tlog/CL.write.1.tlog
JPakLibTest/x64/Release/JPakLibTest.tlog/JPakLibTest.lastbuildstate
JPakLibTest/x64/Release/JPakLibTest.tlog/JPakLibTest.write.1u.tlog
JPakLibTest/x64/Release/JPakLibTest.tlog/link.command.1.tlog
JPakLibTest/x64/Release/JPakLibTest.tlog/link.read.1.tlog
JPakLibTest/x64/Release/JPakLibTest.tlog/link.write.1.tlog
JSharedLib/x64/Release/JSharedFunc.obj
JSharedLib/x64/Release/JSharedLib.log
JSharedLib/x64/Release/JSharedLib.pdb
JSharedLib/x64/Release/JSharedLib.tlog/CL.command.1.tlog
JSharedLib/x64/Release/JSharedLib.tlog/CL.read.1.tlog
JSharedLib/x64/Release/JSharedLib.tlog/CL.write.1.tlog
JSharedLib/x64/Release/JSharedLib.tlog/JSharedLib.lastbuildstate
JSharedLib/x64/Release/JSharedLib.tlog/Lib.command.1.tlog
JSharedLib/x64/Release/JSharedLib.tlog/Lib-link.read.1.tlog
JSharedLib/x64/Release/JSharedLib.tlog/Lib-link.write.1.tlog
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/.signature.p7s
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/license (MIT).txt
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0.nupkg
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/ThirdPartyNotices.txt
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.propertiesui.xml
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest_pred_impl.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest_prod.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-death-test.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-message.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-param-test.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-param-test.h.pump
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-printers.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-spi.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-test-part.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/gtest-typed-test.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-death-test-internal.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-filepath.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-internal.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-linked_ptr.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-param-util.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-param-util-generated.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-port.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-port-arch.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-string.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-tuple.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-tuple.h.pump
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-type-util.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/gtest-type-util.h.pump
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/custom/gtest.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/custom/gtest-port.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/build/native/include/gtest/internal/custom/gtest-printers.h
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.pdb
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.pdb
x64/Release/JLogger.lib
x64/Release/JPakLib.lib
x64/Release/JSharedLib.lib
